<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop-4.3.xsd">


	<!-- cfg advice as spring bean -->
	<bean id="pmAdvice"
		class="com.nt.advice.PerformanceMonitoringAdvice" />

	<!-- cfg target service as spring bean -->
	<bean id="bankService" class="com.nt.service.BankService" />

	<!-- AOP enabling -->
	<aop:config>
		<!-- create pointcut using OGNL expression -->
		<aop:pointcut
			expression="execution (double com.nt.service.IBankService.*(..))"
			id="ptc" />
		<!-- make spring bean as aspectjAOP aspect class -->
		<aop:aspect ref="pmAdvice">
			<aop:around method="performance" pointcut-ref="ptc" />
		</aop:aspect>

	</aop:config>


</beans>
